.iconLink {
  padding: 1rem;
  background: none;
  font-size: 2rem;
}

.iconLink:hover {
  background: none;
}

.iconLink:focus {
  background: none;
}
.iconImg {
  display: inline-block;
  height: 3rem;
  width: 3rem;
  background: transparent;
  filter: contrast(0%);
}

.iconImg:hover {
  filter: drop-shadow(0 0 1em #fff) contrast(0%);
}
